/* You can add global styles to this file, and also import other style files */
.k-avatar {
    margin-left: 80px;
    font-size: 30px;
  }
  .example {
    display: flex;
    justify-content: center;
  }
  .k-form {
    width: 240px;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
